{{yield}}
<div class="jumbo">
  <h2>Welcome To Lysium!</h2>
  <p>Below are all the changes that are in test but not in production.</p>
  <div>
    {{#simple-button-link value="API APPLICATION" linkTo="api-application" class="willsButton"}}
      API-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="admin-api-application" class="willsButton"}}
      Admin-API-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="customer-service-application" class="willsButton"}}
      Customer-Service-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="execution-settlement-application" class="willsButton"}}
      Execution-Settlement-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="investor-application" class="willsButton"}}
      Investor-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="isa-application" class="willsButton"}}
      ISA-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="payments-application" class="willsButton"}}
      Payments-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="security-application" class="willsButton"}}
      Security-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="workflow-manager-application" class="willsButton"}}
      Workflow-Manager-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="reporting-billing-application" class="willsButton"}}
      Reporting-Billing-Application
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="admin-ui" class="willsButton"}}
      Admin-UI
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="insight-ui" class="willsButton"}}
      Insight-UI
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="investments-ui" class="willsButton"}}
      Investments-UI
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="website-ui" class="willsButton"}}
      website-ui
    {{/simple-button-link}}
  </div>
</div>

{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
