{{yield}}
<div class="jumbo">
  <h2>Welcome To Lysium!</h2>
  <p>Below are all the changes that are in test but not in production.</p>
  <div>
    {{#each applicationNames as |applicationName|}}
    {{#link-to 'changes.application-changes' applicationName class="willsButton"}}
      {{applicationName}}
    {{/link-to}}
    {{/each}}

    <!-- {{#simple-button-link type="primary" value="API APPLICATION" linkTo="admin-api-application" class="willsButton"}}
      ADMIN_API_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="customer-service-application" class="willsButton"}}
      CUSTOMER_SERVICE_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="execution-settlement-application" class="willsButton"}}
      EXECUTION_SETTLEMENT_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="investor-application" class="willsButton"}}
      INVESTOR_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="isa-application" class="willsButton"}}
      ISA_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="payments-application" class="willsButton"}}
      PAYMENTS_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="security-application" class="willsButton"}}
      SECURITY_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="workflow-manager-application" class="willsButton"}}
      WORKFLOW_MANAGER_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="reporting-billing-application" class="willsButton"}}
      REPORTING_BILLING_APPLICATION
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="admin-ui" class="willsButton"}}
      Admin-UI
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="insight-ui" class="willsButton"}}
      Insight-UI
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="investments-ui" class="willsButton"}}
      Investments-UI
    {{/simple-button-link}}

    {{#simple-button-link type="primary" value="API APPLICATION" linkTo="website-ui" class="willsButton"}}
      Website-UI
    {{/simple-button-link}} -->
  </div>
</div>

{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
