{{yield}}
<div class="jumbo">
  <h2>Welcome To Lycium!</h2>
  <p>Below are all the changes that are in test but not in production.</p>
  <div>
    {{#each applicationNames as |applicationName|}}
    {{#link-to 'changes.application-changes' applicationName class="willsButton"}}
      {{applicationName}}
    {{/link-to}}
    {{/each}}
  </div>
</div>

{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
