<ul>
  {{#each stocks.stocks as |stock|}}
    <div class="">
      <li>{{stock.name}}</li>
      <li>{{stock.price}}</li>
    </div>
    <br>
  {{/each}}
</ul>
<h3><button {{action "buyStock"}}>Buy Apple</button></h3>
