@import "ember-cli-goji-common/vars";
@import "ember-cli-goji-common/grid";
@import "ember-cli-goji-common/mixins";

@import "ember-cli-goji-common/components/goji-table";
@import "ember-cli-goji-common/components/goji-dialog";
@import "ember-cli-goji-common/components/multi-search-box";
@import "ember-cli-goji-common/components/multi-button";
@import "ember-cli-goji-common/components/simple-button";
@import "ember-cli-goji-common/components/button-set";
@import "ember-cli-goji-common/components/tab-pane";
@import "ember-cli-goji-common/components/panel/panel-content";
@import "ember-cli-goji-common/components/panel/panel-list";
@import "ember-cli-goji-common/components/loading-indicator";
@import "ember-cli-goji-common/components/loading-cover";
@import "ember-cli-goji-common/components/form/form-field";
@import "ember-cli-goji-common/components/form/form-checkbox";
@import "ember-cli-goji-common/components/select-view-pane";
@import "ember-cli-goji-common/components/pill-content";
@import "ember-cli-goji-common/components/error-message";
@import "ember-cli-goji-common/components/date-picker";
@import "ember-cli-goji-common/components/date-time-picker";
@import "ember-cli-goji-common/components/success-mask";
@import "ember-cli-goji-common/components/expandable-content";
@import "ember-cli-goji-common/components/originator-badge";
@import "ember-cli-goji-common/components/application-footer";

.listing, .jumbo {
  text-align: center;
}

img {
  height: 50px;
}

body {
  /*background-color: #3B5998;*/
}

.willsButton {
  display: inline-block;
}
