<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <img src="https://static.gojip2p.net/public-site/assets/images/goji-1fea05668812be6582841b5d1335a930.png" alt="">
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
