<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <img src="https://static.gojip2p.net/public-site/assets/images/goji-1fea05668812be6582841b5d1335a930.png" alt="">
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>


<!-- <h1>Navigation</h1>
<section class="navigation">
  <section>
    <h2>Main navigation</h2>
    {{#application-header applicationName='Application Name' enabledUserActions=enabledUserActions}}
      <li>{{#link-to 'styleguide'}}Active{{/link-to}}</li>
      <li>{{#link-to 'styleguide.dummy1'}}Link 2{{/link-to}}</li>
      <li class="parent">
        {{#link-to 'styleguide.dummy2'}}Nested{{/link-to}}
        <ul>
          <li>{{#link-to 'styleguide.dummy1'}}Child link 1{{/link-to}}</li>
          <li>{{#link-to 'styleguide.dummy2'}}Child link 2{{/link-to}}</li>
        </ul>
      </li>
    {{/application-header}}
  </section>
  <section>
    <h2>Tabs</h2>
    {{#tab-pane tabs=(in-array
        (hash route='styleguide.dummy1' icon='exchange' label='Tab 2')
        (hash route='styleguide.dummy2' icon='magic' label='Tab 3'))}}
      Tab content.
    {{/tab-pane}}
  </section>
</section> -->
