<div class="jumbo">
  <h2>Welcome To Lysium!</h2>
  <p>Below are all the changes that are in test but not in production.</p>
  Environment: <select>
    <option value="volvo">Test</option>
    <option value="saab">Production</option>
    <option value="mercedes">Sandbox</option>
  </select>
  <br>
  <!-- Application: <select>
    <option value="API_APPLICATION"></option>
    <option value="ADMIN_API_APPLICATION">ADMIN_API_APPLICATION</option>
    <option value="CUSTOMER_SERVICE_APPLICATION">CUSTOMER_SERVICE_APPLICATION</option>
    <option value="EXECUTION_SETTLEMENT_APPLICATION">EXECUTION_SETTLEMENT_APPLICATION</option>
    <option value="INVESTOR_APPLICATION">INVESTOR_APPLICATION</option>
    <option value="ISA_APPLICATION">ISA_APPLICATION</option>
    <option value="PAYMENTS_APPLICATION">PAYMENTS_APPLICATION</option>
    <option value="SECURITY_APPLICATION">SECURITY_APPLICATION</option>
    <option value="WORKFLOW_MANAGER_APPLICATION">WORKFLOW_MANAGER_APPLICATION</option>
    <option value="REPORTING_BILLING_APPLICATION">REPORTING_BILLING_APPLICATION</option>
    <option value="ADMIN_UI">ADMIN_UI</option>
    <option value="INSIGHT_UI">INSIGHT_UI</option>
    <option value="INVESTMENTS_UI">INVESTMENTS_UI</option>
    <option value="WEBSITE_UI">WEBSITE_UI</option>
  </select>14 -->
  <button class="links">
    {{#link-to 'api-application'}}
      API Application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'admin-api-application'}}
      admin-api-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'customer-service-application'}}
      customer-service-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'execution-settlement-application'}}
      execution-settlement-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'investor-application'}}
      investor-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'isa-application'}}
      isa-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'payments-application'}}
      payments-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'security-application'}}
      security-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'workflow-manager-application'}}
      workflow-manager-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'reporting-billing-application'}}
      reporting-billing-application
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'admin-ui'}}
      admin-ui
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'insight-ui'}}
      insight-ui
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'investments-ui'}}
      investments-ui
    {{/link-to}}
  </button>
  <button class="links">
    {{#link-to 'website-ui'}}
      website-ui
    {{/link-to}}
  </button>
</div>

{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
{{outlet}}
