<div class="jumbo">
  <h2>Welcome To Lysium!</h2>
  <p>Below are all the changes that are in test but not in production.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>

{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
{{outlet}}
